$black: #000000;
$orange: #f7df94;
$gray-1: #4f4f4f;
$gray-2: #828282;
$gray-3: #333333;
$white: #f2f2f2;

.header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5%;
    > button {
        background-color: transparent;
        border: transparent;
        display: inline-flex;
        align-items: center;
        color: $gray-3;
        font-size: 18px;
        > :only-child {
            font-size: 18px;
            color: $gray-3;
            margin-left: 11px;
            transform: rotate(360deg);
            transition: transform 0.5s;
        }
        &:hover {
            cursor: pointer;
            color: dodgerblue;
            > :only-child {
                color: dodgerblue;
            }
        }
        &:active {
            > :only-child {
                transform: rotate(0deg);
                transition: 0s;
            }
        }
    }
}
.card-quote {
    margin: 0px 20%;
    padding-top: 48px;
    > .author-header {
        font-size: 36px;
        font-weight: 700;
        color: $gray-3;
        margin-bottom: 140px;
        padding-left: 29px;
    }
    > .card-body {
        > .quote-group {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            > .quote-content {
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 140px;
                padding: 0px 29px;
                height: auto;
                box-shadow: -8px 0 0 $orange;
                &::before {
                    content: open-quote;
                }
                &::after {
                    content: close-quote;
                }
            }
        }
        > .btn-quote {
            width: 100%;
            background-color: transparent;
            border: transparent;
            > .btn-group {
                width: 100%;
                display: inline-flex;
                flex-direction: row;
                padding: 50px 29px;
                > .desc-group {
                    width: 100%;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: start;
                    > .quote-author {
                        font-weight: 700;
                        font-size: 24px;
                        color: $gray-1;
                    }
                    > .quote-genre {
                        font-weight: 500;
                        font-size: 14px;
                        color: $gray-2;
                        margin-top: 8px;
                    }
                }
                > .btn-icon {
                    display: inline-flex;
                    align-items: center;
                    color: $white;
                    display: none;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $gray-3;
                    > .desc-group > .quote-author {
                        color: $white;
                    }
                    > .btn-icon {
                        display: inline-flex;
                    }
                }
            }
        }
    }
}
