@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

$dark-color: #333333;
$light-color: #ffffff;
$primary-color: #2f80ed;
$secondary-color: #bdbdbd;
$danger-color: #eb5757;

$text-light: #ffffff;
$text-dark: #3f3f3f;

$box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);

$button-size: (
    sm: 6px 12px,
    md: 12px 56px,
    lg: 20px 40px,
);
$border-radius: (
    sm: 4px,
    md: 12px,
);

$button-colors: (
    default: (),
    primary: (
        text: $text-light,
        color-1: #2962ff,
        color-2: #0039cb,
        color-3: rgba(41, 98, 255, 0.1),
    ),
    danger: (
        text: $text-light,
        color-1: $danger-color,
        color-2: #d32f2f,
        color-3: rgba(134, 0, 0, 0.1),
    ),
);

.container {
    text-align: center;
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin button-style() {
    border-radius: map-get($border-radius, md);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-default($color) {
    $variant-config: map-get($button-colors, $color);

    background-color: map-get($variant-config, color-1);
    color: map-get($variant-config, text);
    padding: map-get($button-size, md);
    border: 1px solid transparent;
    box-shadow: $box-shadow;
    &:hover,
    &:focus {
        background-color: map-get($variant-config, color-2);
    }
    &:size {
        display: none !important;
    }
}

@each $color, $var in $button-colors {
    .btn-default-#{$color} {
        @include button-style();
        @include button-default($color);
    }
}

@mixin button-icon($color) {
    background-color: transparent;
    padding: 0px !important;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px;
    color: $secondary-color;
    &:hover,
    &:focus {
        color: $danger-color;
        background-color: transparent;
    }
    > :only-child() {
        color: $secondary-color;
    }
}

@each $color, $var in $button-colors {
    .btn-icon-#{$color} {
        @include button-style();
        @include button-icon($color);
    }
}

button {
    @include button-style();
    @include button-default(default);
}

@each $size, $value in $button-size {
    .btn-#{$size} {
        padding: $value !important;
    }
}

@each $size, $value in $border-radius {
    .border-#{$size} {
        border-radius: $value !important;
    }
}

.start-icon {
    padding-right: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    > :only-child {
        width: 1rem;
        height: 1rem;
    }
}

.tab {
    min-width: 50%;
    .tab-content {
        display: flex;
        flex-direction: column;
        .tab-content-header {
            display: grid;
            grid-template-columns: 2fr auto;
            gap: 25px;
            margin-bottom: 32px;
        }
        .tab-content-body {
            .checkbox-check {
                height: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .tab-content-footer {
            display: inline-flex;
            justify-content: end;
        }
    }
    .tab-header {
        display: flex;
        width: 100%;
        justify-content: space-around;
        border: 0px solid $secondary-color;
        border-width: 0px 0px 2px 0px;
        margin-bottom: 18px;
    }
    .tab-pane {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    position: relative;
    padding-bottom: 15px;
}

.tab-list-active {
    &::after {
        content: '';
        position: absolute;
        bottom: -1.5px;
        left: 0;
        width: 100%;
        border: 3px solid $primary-color;
        border-radius: 4px 4px 0px 0px;
    }
}

input[type='checkbox'] {
    position: relative;
    width: 24px;
    height: 24px;
    color: $dark-color;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    ~ Button {
        display: none;
    }
    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 8px;
        width: 4px;
        height: 14px;
        border-style: solid;
        border-color: $light-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }
    &:checked {
        color: $light-color;
        border-color: $primary-color;
        background: $primary-color;
        &::before {
            opacity: 1;
        }
        ~ label::before {
            clip-path: polygon(100% 60%, 100% 0, 0 0, 0 60%);
        }
        ~ Button {
            display: inline-block;
        }
    }
    ~ label {
        position: relative;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        user-select: none;
        text-align: start;
        padding: 7px;
        &::before {
            position: absolute;
            content: attr(data-content);
            color: $dark-color;
            clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
            text-decoration: line-through;
            text-decoration-color: $dark-color;
        }
    }
}
.checkbox-group {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
input[type='text'] {
    border-radius: 8px;
    padding: 20px 12px;
    border: 1px solid $secondary-color;
    color: #333333;
    &:hover {
        border: 1px solid $dark-color;
    }
    &:focus {
        outline: none !important;
        border: 1px solid $primary-color;
    }
    &::placeholder {
        color: #828282;
    }
}
